body {
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background: url(images/bg-top.svg) no-repeat top right,
    url(images/bg-bottom.svg) no-repeat bottom left;
  font-size: 15px;
  font-weight: 700;
  height: 100vh;
  background-color: hsl(240, 78%, 98%);
}
.outer-container {
  /* The outermost flexbox container */
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.title {
  /* title => Our Pricing */
  margin-bottom: 25px;
}
.monthly-annually {
  margin-bottom: 70px;
  color: hsl(234, 14%, 74%);
}
.title,
.monthly-annually {
  display: flex;
  justify-content: center;
  color: hsl(233, 13%, 49%);
}
.toggle-between {
  margin-left: 35px;
  margin-right: 35px;
}
.plans-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.basic,
.master,
.professional {
  border: none;
  border-radius: 10px;
  background-color: white;
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 14px;
  padding-bottom: 24px;
  padding-left: 34px;
  padding-right: 22px;
}
.basic {
  /* Box Shadow for Basic: Left and Bottom to the container*/
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
}
.master {
  /* Box Shadow for Master: Right and Bottom to the container*/
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.professional {
  margin-bottom: -10px;
  margin-top: -10px;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
}
.heading,             /* Designing the elements of Basic and Master Containers. eg. heading and storage*/
.storage,
.users-allowed,
.send-max,
.basic-learn-more,
.master-learn-more {
  display: flex;
  justify-content: center;
  color: hsl(233, 13%, 54%);
}
.heading {
  margin-bottom: -25px;
}
.prof-heading,        /* Designing the elements of Professional Container. eg. heading and storage*/
.prof-storage,
.prof-users-allowed,
.prof-send-max,
.prof-learn-more {
  display: flex;
  justify-content: center;
  color: white;
}
.prof-heading {
  margin-bottom: -25px;
}
#basic-price,
#professional-price,
#master-price {
  margin-bottom: 30px;
}
.storage,
.users-allowed,
.send-max {
  margin-top: 12px;
  margin-bottom: 12px;
}
.prof.storage,
.prof-users-allowed,
.prof-send-max {
  margin-top: 12px;
  margin-bottom: 12px;
}
hr {
  width: 80%;
}
.greyline {
  /* greyline is the class given to the horizontal rule for basic and master containers */
  height: 0.5px;
  background-color: hsl(234, 14%, 74%);
}
.dollar {
  margin-top: 20px;
  font-size: 35px;
  margin-right: 2px;
}
.basic-learn-more,    /* designing of the 'learn-more' button for basic and master container */
.master-learn-more {
  border: none;
  border-radius: 6px;
  background: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  margin: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.prof-learn-more {
  /* designing of the 'learn-more' button for professional container */
  border: none;
  border-radius: 6px;
  background-color: white;
  margin: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.prof-content {
  color: hsl(237, 63%, 64%);
  font-weight: bold;
  font-size: xx-small;
}
.basic-content,
.master-content {
  color: white;
  font-weight: bold;
  font-size: xx-small;
}
#professional-price {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 65px;
}
#basic-price,
#master-price {
  display: flex;
  justify-content: center;
  color: hsl(232, 13%, 33%);
  font-size: 65px;
}
.prof-learn-more:hover {
  background-color: hsl(237, 63%, 64%);
  cursor: pointer;
}
.prof-learn-more:hover .prof-content {
  color: white;
}
.basic-learn-more:hover {
  background: white;
  border: 1px solid black;
  cursor: pointer;
}
.basic-learn-more:hover .basic-content {
  color: hsl(237, 63%, 64%);
}
.master-learn-more:hover {
  background: white;
  border: 1px solid black;
}
.master-learn-more:hover .master-content {
  color: hsl(237, 63%, 64%);
}

.switch {
  /* designing for the toggle button*/
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  transition: all 0.3s linear;
}

.switch::after {
  content: "";
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s linear;
}

input[type="checkbox"]:checked + .switch:after {
  translate: 1rem 0;
}

input[type="checkbox"]:checked + .switch {
  background-color: #7983ff;
}

input[type="checkbox"] {
  display: none;
}